---
title: Some useful CSS functions to keep in mind
date: Last Modified
override:tags: [sticky]
---

<div class="accordion-content">
  <div>
    <p>
      Some of the examples on this page use some more advanced CSS functions to
      achieve the results we want. For reference they are listed below along
      with a brief explanation as well as some other useful functions to keep in
      mind.
    </p>

    <h3>repeat()</h3>

    <p>
      Used to avoid repetitive declarations whens setting properties for
      <code>grid-template-columns</code> and <code>grid-template-rows</code>.
    </p>

    <p>
      The <code>repeat()</code> function takes two arguments, the first is the
      repeat count and the second specifies the set of columns or rows (tracks)
      to be repeated. The repeat count can either be set as an integer value of
      1 or more, or using the keywords <code>auto-fill</code> or
      <code>auto-fit</code> both of which will repeat the set of tracks as many
      times as is needed to fill the grid container.
    </p>

    <pre>
				<code class="language-css line-numbers">
					
					grid-template-columns: repat(4, 1fr)
					
					// is the same as
					grid-template-columns: 1fr 1fr 1fr 1fr
					
				</code>
			</pre>

    <!-- <h3>minmax()</h3> -->

    <h3>clamp()</h3>

    <p>
      This is a great one and particularly useful when working with viewport
      units. <code>clamp()</code> takes in three arguments - the first is a
      minimum value, the second is the preferred value and the third is the
      maximum value.
    </p>

    <pre>
			<code class="language-css line-numbers">
				h2 {
					font-size: clamp(5rem, 10vw, 30rem);
				}
			</code>
			</pre>

    <h2 style="font-size: 5vw">I am set to 5vw</h2>
    <h2 style="font-size: clamp(4rem, 3vw, 10rem)">
      So am I but using clamp()
    </h2>

    <p>
      In the example above our h2's font-size property will be set to 10vw,
      except in cases where 10vw is either smaller or bigger than our minimum /
      maximum values. In which case the respective min / max value will be used
      instead.
    </p>

    <p>
      In normal language - ideally I want your font-size to be 10vw but please
      don't get any smaller than 4rem or any bigger than 10rem.
    </p>

    <p>
      The cool thing about this is that we can use relative units like
      viewport-width without needing media queries to handle edge cases when the
      screen width get's either very small or very wide.
    </p>
  </div>
</div>
