---
title: Hugh's CSS Snippets
layout: 'base.njk'
---

<h1>{{ title }}</h1> 

<p>
  The examples below are using container queries so any of the demos are
  resizable to see how things behave when page shrinks.
</p>

<h2>Functions</h2>

{% for snippet in collections.functions | reverse %}
{% include 'snippet.njk' %}
{% endfor -%}

<h2>Grid Snippets</h2>

{% for snippet in collections.grid | reverse %}
{% include 'snippet.njk' %}
{% endfor -%}

<h2>Flexbox Snippets</h2>

{% for snippet in collections.flex | reverse %}
{% include 'snippet.njk' %}
{% endfor -%}